<!DOCTYPE html>
<html>
<head>
    <title>Chatbot Layanan Publik</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="hero">

    <h1>🇮🇩 Chatbot Layanan Publik</h1>

    <p>
        Sistem Informasi Pemerintahan Berbasis Chatbot
    </p>

</div>

<div class="chat-container">

    <div id="chat-box"></div>

    <div class="input-area">
        <input type="text" id="message" placeholder="Ketik pesan...">
        <button onclick="sendMessage()">Kirim</button>
    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>